@use '../helpers' as *;

.video-player {
  max-width: rem(600);
  margin: 0 auto;
  position: relative;

  &__video {
    width: 100%;
    height: fluid(412, 210);
    object-fit: cover;
    border-radius: rem(12);

    @include laptop {
      border-radius: rem(10);
    }
  }

  &__panel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 1rem;
    inset: 0;
    padding: rem(30);
    transition-duration: var(--transition-duration);

    justify-content: center;
    align-items: center;

    &:not(.is-active) {
      @include hide;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: linear-gradient(180deg, #14141400 80.27%, #141414 100%);
      border-radius: rem(12);
    }

    * {
      position: relative;
    }
  }

  &__play-button {
    --size: rem(60);

    //@include flex-center;
    @include square(var(--size));

    background-color: transparent;
    color: var(--color-light);
    border: none;

    @include laptop {
      --size: rem(40);
    }

    @include hover {
      color: var(--color-accent);
    }
  }

  &__duration {
    color: var(--color-light);
    z-index: 10;
  }
}