@use '../helpers' as *;

.footer {
  padding-block: rem(20);
  border-top: 1px solid var(--help-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
  // align-items: center;

  &__logo-link {
    font-size: fluid(32, 24);
    font-weight: 700;

    @include hover {
      opacity: 0.8;
    }

    @include mobile {
      margin-bottom: rem(8);
    }
  }

  &__column {
    &-text {
      text-align: end;
      display: flex;
      gap: rem(3);
      font-size: rem(14);
      flex-direction: column;

      @include mobile {
        text-align: start;
      }
    }
  }
}