@use '../helpers' as *;

.hero {
  display: grid;
  padding-block: rem(100);
  gap: 1rem;

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: rem(767);

    @include tablet {
      max-width: rem(600);
    }
  }

  &__title,
  &__desc {
    @include mobile {
      max-width: rem(450);
      margin: 0 auto;
    }
  }

  &__title {
    font-size: fluid(48, 23);
    @include mobile-above {
      font-size: fluid(48, 36);
    }
    opacity: 0.9;
  }

  &__desc {
    font-weight: 300;
    opacity: 0.8;
    margin-block: rem(12);
    font-size: fluid(18, 14);
  }

  span {
    color: var(--color-accent);
  }

  &__image {
    justify-self: end;
    max-width: rem(412);

    @include laptop {
      padding-inline: rem(36);
    }

    @include mobile {
      display: none;
    }
  }

  @include mobile-above {
    margin-bottom: rem(80);
  }
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}