@use '../helpers' as *;

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  overflow-x: auto;

  @include mobile-above {
    display: grid;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: fluid(6, 4);
  }

  &__window {
    max-width: rem(400);
    padding: rem(20);
    width: 100%;
    z-index: 1;
    background-color: var(--background-color);

    @include mobile {
      max-width: 100%;
      min-height: 100%;
    }
  }

  &__close-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;

    @include hover {
      svg {
        color: var(--color-accent);
      }
    }
  }

  &__title {
    font-weight: 500;
  }

  &__categories {
    padding-top: rem(8);

    &:not(:last-child) {
      border-bottom: 1px solid var(--help-color);
      padding-bottom: rem(8);
    }
  }
}