@use '../helpers' as *;

.pagination {
  display: flex;
  align-items: center;
  gap: rem(8); 

  &__circle {
    min-width: rem(40);
    height: rem(40);
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: 100%;

    &.selected {
      border-color: var(--color-accent);
      color: var(--color-accent);
    }

    @include hover {
      background-color: var(--color-accent);
      border-color: var(--color-accent);
      color: var(--color-light);
    }
  }
}