@use '../helpers' as *;

:root {
  --color-light: #FFF;
  --color-dark: #0d0d11;
  --color-gray-dark: #222222;
  --color-gray-light: #c7c7c7;
  --color-gray: #636363;
  // --color-accent: #D4AF37;
  // --color-accent: #FF5E3A;
  --color-accent: #4f80c0;
  // --color-accent: #6F2CF3;

  --font-family-base: "Roboto", sans-serif;

  --border: #{rem(1)} solid var(--color-dark);

  --shadow: 0 0 0 #{rem(3)} #191919;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(10)};

  --transition-duration: 0.2s;

  --text-color: var(--color-dark);
  --background-color: var(--color-light);
  --help-color: var(--color-gray);

  @include laptop {
    --container-width: #{rem(1280)};
  }
}